# The github originization we want to create the rootfs release at
GITHUB_ORG=${GITHUB_ORG:-openrisc}
GITHUB_PROJECT=${GITHUB_PROJECT:-or1k-rootfs-build}
# The remote we want to upload tags to on the remote repo
GIT_REMOTE=${GIT_REMOTE:-origin}

# Dry run examples
# GITHUB_ORG=stffrdhrn
# GITHUB_PROJECT=or1k-toolchain-build
# GIT_REMOTE=shorne

